@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

:root {
  /* Light Mode */
  --background: #ffffff;
  --foreground: #09090b;

  --card: #f4f4f5;
  --card-foreground: #09090b;

  --primary: #2563eb;
  --primary-foreground: #f8fafc;

  --muted: #f4f4f5;
  --muted-foreground: #52525b;

  --border: #e4e4e7;
}

.dark {
  /* Dark Mode */
  --background: #09090b;
  --foreground: #f8fafc;

  --card: #18181b;
  --card-foreground: #f8fafc;

  --primary: #3b82f6;
  --primary-foreground: #09090b;

  --muted: #18181b;
  --muted-foreground: #a1a1aa;

  --border: #27272a;
}

/* THEMES */
.theme-dragon {
  --primary: #e11d48;
  --primary-foreground: #ffffff;
}

.dark.theme-dragon {
  --background: #110e10;
  --card: #1a1618;
  --primary: #fb7185;
  --primary-foreground: #000000;
}

.theme-northern-lights {
  --primary: #10b981;
  --primary-foreground: #ffffff;
}

.dark.theme-northern-lights {
  --background: #0a1114;
  --card: #121d23;
  --primary: #34d399;
  --primary-foreground: #000000;
  --muted: #0f1c24;
}

.theme-miami {
  --primary: #f97316;
  --primary-foreground: #ffffff;
}

.dark.theme-miami {
  --background: #0f141a;
  --card: #171d26;
  --primary: #2dd4bf;
  --primary-foreground: #000000;
  --muted: #1e2632;
}

.theme-citrus {
  --primary: #f59e0b;
  --primary-foreground: #ffffff;
}

.dark.theme-citrus {
  --background: #15110c;
  --card: #1c1813;
  --primary: #fbbf24;
  --primary-foreground: #000000;
  --muted: #24201a;
}

.theme-watermelon {
  --primary: #ec4899;
  --primary-foreground: #ffffff;
}

.dark.theme-watermelon {
  --background: #120e15;
  --card: #19141d;
  --primary: #a3e635;
  --primary-foreground: #000000;
  --muted: #221c27;
}

.theme-terminal {
  --primary: #22c55e;
  --primary-foreground: #ffffff;
}

.dark.theme-terminal {
  --background: #050a05;
  --card: #0c150c;
  --primary: #4ade80;
  --primary-foreground: #000000;
  --muted: #132413;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}